# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# environment
.env
.env*.local

# database (dev SQLite)
/prisma/*.db
/prisma/*.db-journal
/prisma/dev.db*

# local file storage (dev StorageProvider)
/storage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
*.pem
.vscode/
.idea/
